<!DOCTYPE html>

  <header>
    <nav class="top-nav">
      <div class="container">
        <div class="nav-wrapper">
          <a class="left page-title">Welcome, {{currentUser.firstname}} {{currentUser.lastname}}!</a>
          <ul class="right hide-on-med-and-down">
            <li><a ng-click="logout()" class="waves-effect waves-dark">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0px);">
      <li class="dashboard-title">Dashboard</li>
      <li class="bold" ng-click="goTo('myPatients')" ><a class="waves-effect waves-dark">My Patients</a></li>
      <li ng-if="admin" class="bold" ng-click="goTo('managePatients')" ><a class="waves-effect waves-dark">Manage Patients</a></li>
      <li class="bold" ng-click="goTo('manageResources')" ><a class="waves-effect waves-dark">Manage Resources</a></li>
      <li class="bold" ng-click="goTo('encouragementCentral')" ><a class="waves-effect waves-dark">Encouragement Central</a></li>
      <li ng-if="admin" class="bold" ng-click="goTo('manageDoctors')" ><a class="waves-effect waves-dark">Manage Doctors (admin only)</a></li>
    </ul>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col s12 m9 l10">

          <div id="myPatients" class="section scrollspy">
            <h4>My Patients</h4>
            <ul collapse class="collapsible popout" data-collapsible="accordion" watch>
              <li ng-repeat="patient in myPatientList">
                <div class="collapsible-header">
                  <p>{{patient.firstname}} {{patient.lastname}}</p>
                </div>
                <div class="collapsible-body">
                  <p class="col s6"><b>Name: </b>{{patient.firstname}} {{patient.lastname}}</p>
                  <p class="col s6"><b>Birthdate: </b>{{patient.birthdate}}</p>
                  <p class="col s6"><b>Sex: </b>{{patient.gender}}</p>
                  <p class="col s6"><b>Accension #: </b>{{patient.accensionnumber}}</p>
                  <p class="col s6"><b>Phone: </b>{{patient.phone}}</p>
                  <p class="col s6"><b>Email: </b>{{patient.email}}</p>
                  <div class="col s12">
                    <i ng-click="delete('myPatients', patient.id)" class="right material-icons">delete</i>
                    <i ng-click="edit('myPatients', patient.id)" class="right material-icons">mode_edit</i>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
          </div>

          <div ng-if="admin" id="managePatients" class="section scrollspy">
            <h4>Manage Patients</h4>
            <ul collapse class="collapsible popout" data-collapsible="accordion" watch>
              <li ng-repeat="patient in managePatientsList">
                <div class="collapsible-header">
                  <p>{{patient.firstname}} {{patient.lastname}}</p>
                </div>
                <div class="collapsible-body">
                    <p class="col s6"><b>Name: </b>{{patient.firstname}} {{patient.lastname}}</p>
                    <p class="col s6"><b>Birthdate: </b>{{patient.birthdate}}</p>
                    <p class="col s6"><b>Sex: </b>{{patient.gender}}</p>
                    <p class="col s6"><b>Accension #: </b>{{patient.accensionnumber}}</p>
                    <p class="col s6"><b>Phone: </b>{{patient.phone}}</p>
                    <p class="col s6"><b>Email: </b>{{patient.email}}</p>
                    <div class="col s12">
                      <i ng-click="delete('managePatients', patient.id)" class="right material-icons">delete</i>
                      <i ng-click="edit('managePatients', patient.id)" class="right material-icons">mode_edit</i>
                    </div>
                    <div class="clearfix"></div>
                </div>
              </li>
            </ul>
          </div>

          <div id="manageResources" class="section scrollspy">
            <h4>Manage Resources</h4>
            <ul collapse class="collapsible popout" data-collapsible="accordion" watch>
              <li ng-repeat="resource in resourcesList">
                <div class="collapsible-header">
                  <p>{{resource.title}}</p>
                </div>
                <div class="collapsible-body">
                    <p>{{resource.link}}</p>
                    <div class="col s12">
                      <i ng-click="delete('manageResources', resource.id)" class="right material-icons">delete</i>
                      <i ng-click="edit('manageResources', resource.id)" class="right material-icons">mode_edit</i>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </li>
              </ul>
          </div>

          <div id="encouragementCentral" class="section scrollspy">
            <h4>Encouragement Central</h4>
            <ul collapse class="collapsible popout" data-collapsible="accordion" watch>
              <li ng-repeat="encouragement in encouragementList">
                <div class="collapsible-header">
                  <p>{{encouragement.name}}</p>
                </div>
                <div class="collapsible-body">
                    <p>{{encouragement.message}}</p>
                    <div class="col s12">
                      <i ng-click="delete('encouragementCentral', encouragement.id)" class="right material-icons">delete</i>
                      <i ng-click="edit('encouragementCentral', encouragement.id)" class="right material-icons">mode_edit</i>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </li>
              </ul>
          </div>
          <div ng-if="admin" id="manageDoctors" class="section scrollspy">
            <h4>Manage Doctors</h4>
            <ul collapse class="collapsible popout" data-collapsible="accordion" watch>
              <li ng-repeat="doctor in doctorList">
                <div class="collapsible-header">
                  <p>{{doctor.firstname}} {{doctor.lastname}}</p>
                </div>
                <div class="collapsible-body">
                  <p class="col s4"><b>Username:</b> {{doctor.username}}</p>
                  <p class="col s4"><b>Email:</b> {{doctor.email}}</p>
                  <p class="col s4"><b>Phone:</b> {{doctor.phone}}</p>
                  <div class="col s12">
                    <i ng-click="delete('manageDoctors', doctor.id)" class="right material-icons">delete</i>
                    <i ng-click="edit('manageDoctors', doctor.id)" class="right material-icons">mode_edit</i>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>

            <button modal-trigger data-target="addDoctorModal" class="btn waves-effect waves-light">Add New Doctor</button>

            <!-- <button modal-trigger data-target="addDoctorModal" class="btn waves-effect waves-light">Modal</button> -->

            <!-- Modal Structure -->
            <div id="addDoctorModal" class="modal">
              <div class="modal-content">
                <h4>Add New Doctor</h4>
                <div class="create-doctor">
                  <form novalidate role="form" name="create-doctor">
                    <div class="row">
                      <div class="input-field col s6">
                        <i class="material-icons prefix">face</i>
                        <input  ng-model="newDoctor.firstName" id="firstName" type="text" class="validate" />
                        <label for="firstName">First Name</label>
                      </div>
                      <div class="input-field col s6">
                        <i class="material-icons prefix">face</i>
                        <input  ng-model="newDoctor.lastName" id="lastName" type="text" class="validate" />
                        <label for="lastName">Last Name</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix">mail_outline</i>
                        <input  ng-model="newDoctor.email" id="email" type="email" class="validate" />
                        <label for="email">Email</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix">phone</i>
                        <input  ng-model="newDoctor.phone" id="phone" type="tel" class="validate" />
                        <label for="phone">Phone Number</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix">account_box</i>
                        <input  ng-model="newDoctor.username" id="username" type="text" class="validate" />
                        <label for="username">Username</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input ng-model="newDoctor.password" id="password" type="password" class="validate">
                        <label for="password">Password</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s6">
                        <button ng-click="createDoctor()" class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                      </div>
                      <div class="input-field col s6">
                        <button class="modal-close btn waves-effect waves-light">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
