<!DOCTYPE html>

  <header>
    <nav class="top-nav">
      <div class="container">
        <div class="nav-wrapper">
          <a class="left page-title">Welcome, {{currentUser.firstname}} {{currentUser.lastname}}!</a>
          <ul class="right hide-on-med-and-down">
            <li><a ng-click="logout()" class="waves-effect waves-dark">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0px);">
      <li class="dashboard-title">Dashboard</li>
      <li class="bold" ng-click="goTo('myPatients')" ><a class="waves-effect waves-dark">My Patients</a></li>
      <li ng-if="admin" class="bold" ng-click="goTo('managePatients')" ><a class="waves-effect waves-dark">Manage Patients</a></li>
      <li class="bold" ng-click="goTo('manageResources')" ><a class="waves-effect waves-dark">Manage Resources</a></li>
      <li class="bold" ng-click="goTo('encouragementCentral')" ><a class="waves-effect waves-dark">Encouragement Central</a></li>
      <li ng-if="admin" class="bold" ng-click="goTo('manageDoctors')" ><a class="waves-effect waves-dark">Manage Doctors (admin only)</a></li>
    </ul>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col s12 m9 l10">

          <div id="myPatients" class="section scrollspy">
            <h4>My Patients</h4>
            <ul collapse class="collapsible popout" data-collapsible="accordion" watch>
              <li ng-repeat="patient in myPatientList">
                <div class="collapsible-header">
                  <p>{{patient.firstname}} {{patient.lastname}}</p>
                </div>
                <div class="collapsible-body">
                  <p class="col s6"><b>Name: </b>{{patient.firstname}} {{patient.lastname}}</p>
                  <p class="col s6"><b>Birthdate: </b>{{patient.birthdate}}</p>
                  <p class="col s6"><b>Sex: </b>{{patient.gender}}</p>
                  <p class="col s6"><b>Accension #: </b>{{patient.accensionnumber}}</p>
                  <p class="col s6"><b>Phone: </b>{{patient.phone}}</p>
                  <p class="col s6"><b>Email: </b>{{patient.email}}</p>
                  <div class="col s12">
                    <i ng-click="delete('myPatients', patient.id)" class="right material-icons">delete</i>
                    <i ng-click="edit('myPatients', patient.id)" class="right material-icons">mode_edit</i>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
          </div>

          <div ng-if="admin" id="managePatients" class="section scrollspy">
            <h4>Manage Patients</h4>
            <ul collapse class="collapsible popout" data-collapsible="accordion" watch>
              <li ng-repeat="patient in managePatientsList">
                <div class="collapsible-header">
                  <p>{{patient.firstname}} {{patient.lastname}}</p>
                </div>
                <div class="collapsible-body">
                    <p class="col s6"><b>Name: </b>{{patient.firstname}} {{patient.lastname}}</p>
                    <p class="col s6"><b>Birthdate: </b>{{patient.birthdate}}</p>
                    <p class="col s6"><b>Sex: </b>{{patient.gender}}</p>
                    <p class="col s6"><b>Accension #: </b>{{patient.accensionnumber}}</p>
                    <p class="col s6"><b>Phone: </b>{{patient.phone}}</p>
                    <p class="col s6"><b>Email: </b>{{patient.email}}</p>
                    <p class="col s12"><b>Assigned Doctor(s): </b><span ng-repeat="doctor in patient.doctors track by $index"><span ng-if="$index > 0">, </span>{{doctor.firstname}} {{doctor.lastname}}</span></p>

                    <div class="col s12">
                      <i ng-click="beginDelete('managePatients', patient.id)" modal-trigger data-target="deletePatientModal" class="right material-icons">delete</i>
                      <i ng-click="beginEdit('managePatients', patient.id)" modal-trigger data-target="editPatientModal" class="right material-icons">mode_edit</i>
                    </div>
                    <div class="clearfix"></div>
                </div>
              </li>
            </ul>

            <button modal-trigger data-target="addPatientModal" class="btn waves-effect waves-light">Add New Patient</button>

            <!--Add Patient Modal Structure-->
            <div id="addPatientModal" class="modal">
              <div class="modal-content">
                <h4>Add New Doctor</h4>
                <div class="create-doctor">
                  <form novalidate role="form" name="addDoctor">
                    <div class="row">
                      <div class="input-field col s6">
                        <i class="material-icons prefix">face</i>
                        <input  ng-model="newDoctor.firstName" id="firstName" type="text" class="validate" required />
                        <label for="firstName">First Name</label>
                      </div>
                      <div class="input-field col s6">
                        <i class="material-icons prefix">face</i>
                        <input  ng-model="newDoctor.lastName" id="lastName" type="text" class="validate" required />
                        <label for="lastName">Last Name</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix">mail_outline</i>
                        <input  ng-model="newDoctor.email" id="email" type="email" class="validate" required />
                        <label for="email">Email</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix">phone</i>
                        <input  ng-model="newDoctor.phone" id="phone" type="tel" class="validate" required />
                        <label for="phone">Phone Number</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <p class="col s4">
                          <label>Administrator:</label>
                        </p>
                        <p class="col s4">
                          <input class="with-gap" ng-model="newDoctor.adminflag" value=true name="admin" type="radio" id="adminYes"   />
                          <label for="adminYes">Yes</label>
                        </p>
                        <p class="col s4">
                          <input class="with-gap" ng-model="newDoctor.adminflag" value=false name="admin" type="radio" id="adminNo"   />
                          <label for="adminNo">No</label>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix">account_box</i>
                        <input  ng-model="newDoctor.username" id="username" type="text" class="validate" required />
                        <label for="username">Username</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input ng-model="newDoctor.password" id="password" type="password" class="validate" required >
                        <label for="password">Password</label>
                      </div>
                    </div>
                    <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
                    <div data-ng-show="progress.active()">Sending…</div>
                    <div class="row">
                      <div class="input-field col s6">
                        <button data-ng-disabled="progress.active()" ng-click="createDoctor(addDoctor)" class="modal-action btn waves-effect waves-light" type="submit" name="action">Submit</button>
                      </div>
                      <div class="input-field col s6">
                        <button class="modal-close btn waves-effect waves-light">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!--Edit Patient Modal Structure-->
            <div id="editPatientModal" class="modal">
              <div class="modal-content">
                <h4>Edit Doctor</h4>
                <div class="edit-doctor">
                  <form novalidate role="form" name="doctorEdit" class="ng-valid">
                    <div class="row">
                      <div class="input-field col s6">
                        <i class="material-icons prefix active">face</i>
                        <input  ng-model="editDoctor.firstname"  ng-value="preDoctor.firstname" id="firstName" type="text" class="validate ng-valid ng-touched valid ng-not-empty ng-valid-parse ng-valid-required" required />
                        <label for="firstName" class="active">First Name</label>
                      </div>
                      <div class="input-field col s6">
                        <i class="material-icons prefix active">face</i>
                        <input  ng-model="editDoctor.lastname"  ng-value="preDoctor.lastname" id="lastName" type="text" class="validate ng-valid valid ng-touched ng-not-empty ng-valid-parse ng-valid-required" required />
                        <label for="lastName" class="active ">Last Name</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix active">mail_outline</i>
                        <input  ng-model="editDoctor.email"  ng-value="preDoctor.email" id="email" type="email" class="validate ng-valid ng-touched valid ng-not-empty ng-valid-parse ng-valid-required" required />
                        <label for="email" class="active ">Email</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix active">phone</i>
                        <input  ng-model="editDoctor.phone"  ng-value="preDoctor.phone" id="phone" type="tel" class="validate ng-valid ng-touched valid ng-not-empty ng-valid-parse ng-valid-required" required />
                        <label for="phone" class="active">Phone Number</label>
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="input-field col s12"> -->
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <div class="col s4">
                          <label>Administrator:</label>
                        </div>
                        <div class="col s4 switch">
                          <label>
                            No
                            <input ng-model="editDoctor.adminflag" ng-value="preDoctor.adminflag" type="checkbox" class="validate ng-valid ng-touched valid ng-not-empty ng-valid-parse ng-valid-required" required>
                            <span class="lever"></span>
                            Yes
                          </label>
                          <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix active">account_box</i>
                        <input  ng-model="editDoctor.username" ng-value="preDoctor.username" id="username" type="text" class="validate ng-valid valid ng-touched ng-not-empty ng-valid-parse ng-valid-required" required />
                        <label for="username" class="active ">Username</label>
                      </div>
                    </div>
                    <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
                    <div data-ng-show="progress.active()">Sending…</div>
                    <div class="row">
                      <div class="input-field col s6">
                        <button data-ng-disabled="progress.active()" ng-click="edit('manageDoctors', doctorEdit, preDoctor
                        .id)" class="modal-action btn waves-effect waves-light" type="submit" name="action">Submit</button>
                      </div>
                      <div class="input-field col s6">
                        <button class="modal-close btn waves-effect waves-light">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!--Delete Patient Modal Structure-->
            <div id="deletePatientModal" class="modal">
              <div class="modal-content">
                <h4>Delete Patient</h4>
                <div>
                  <p>Are you sure you would like to delete {{prePatient.firstname}}  {{prePatient.lastname}}?  Once you do, it cannot be undone.</p>
                </div>
              </div>
              <div class="modal-footer">
                <button ng-click="delete('managePatients', prePatient.id)" class="modal-action modal-close waves-effect btn-flat">Yes</button>
                <button class="modal-action modal-close waves-effect btn-flat">No</button>
              </div>
            </div>
          </div>

          <div id="manageResources" class="section scrollspy">
            <h4>Manage Resources</h4>
            <ul collapse class="collapsible popout" data-collapsible="accordion" watch>
              <li ng-repeat="resource in resourcesList">
                <div class="collapsible-header">
                  <p>{{resource.title}}</p>
                </div>
                <div class="collapsible-body">
                    <p>{{resource.link}}</p>
                    <div class="col s12">
                      <i ng-click="delete('manageResources', resource.id)" class="right material-icons">delete</i>
                      <i ng-click="edit('manageResources', resource.id)" class="right material-icons">mode_edit</i>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </li>
              </ul>
          </div>

          <div id="encouragementCentral" class="section scrollspy">
            <h4>Encouragement Central</h4>
            <ul collapse class="collapsible popout" data-collapsible="accordion" watch>
              <li ng-repeat="encouragement in encouragementList">
                <div class="collapsible-header">
                  <p>{{encouragement.name}}</p>
                </div>
                <div class="collapsible-body">
                    <p>{{encouragement.message}}</p>
                    <div class="col s12">
                      <i ng-click="delete('encouragementCentral', encouragement.id)" class="right material-icons">delete</i>
                      <i ng-click="edit('encouragementCentral', encouragement.id)" class="right material-icons">mode_edit</i>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </li>
              </ul>
          </div>

          <div ng-if="admin" id="manageDoctors" class="section scrollspy">
            <h4>Manage Doctors</h4>
            <ul collapse class="collapsible popout" data-collapsible="accordion" watch>
              <li ng-repeat="doctor in doctorList">
                <div class="collapsible-header">
                  <p>{{doctor.firstname}} {{doctor.lastname}}</p>
                </div>
                <div class="collapsible-body">
                  <p class="col s6"><b>Username:</b> {{doctor.username}}</p>
                  <p class="col s6"><b>Email:</b> {{doctor.email}}</p>
                  <p class="col s6"><b>Phone:</b> {{doctor.phone}}</p>
                  <div class="col s12">
                    <i ng-click="beginDelete('manageDoctors', doctor.id)" modal-trigger data-target="deleteDoctorModal" class="right material-icons">delete</i>
                    <i ng-click="beginEdit('manageDoctors', doctor.id)" modal-trigger data-target="editDoctorModal" class="right material-icons">mode_edit</i>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>

            <button modal-trigger data-target="addDoctorModal" class="btn waves-effect waves-light">Add New Doctor</button>

            <!-- Create Doctor Modal Structure -->
            <div id="addDoctorModal" class="modal">
              <div class="modal-content">
                <h4>Add New Doctor</h4>
                <div class="create-doctor">
                  <form novalidate role="form" name="addDoctor">
                    <div class="row">
                      <div class="input-field col s6">
                        <i class="material-icons prefix">face</i>
                        <input  ng-model="newDoctor.firstName" id="firstName" type="text" class="validate" required />
                        <label for="firstName">First Name</label>
                      </div>
                      <div class="input-field col s6">
                        <i class="material-icons prefix">face</i>
                        <input  ng-model="newDoctor.lastName" id="lastName" type="text" class="validate" required />
                        <label for="lastName">Last Name</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix">mail_outline</i>
                        <input  ng-model="newDoctor.email" id="email" type="email" class="validate" required />
                        <label for="email">Email</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix">phone</i>
                        <input  ng-model="newDoctor.phone" id="phone" type="tel" class="validate" required />
                        <label for="phone">Phone Number</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <p class="col s4">
                          <label>Administrator:</label>
                        </p>
                        <p class="col s4">
                          <input class="with-gap" ng-model="newDoctor.adminflag" value=true name="admin" type="radio" id="adminYes"   />
                          <label for="adminYes">Yes</label>
                        </p>
                        <p class="col s4">
                          <input class="with-gap" ng-model="newDoctor.adminflag" value=false name="admin" type="radio" id="adminNo"   />
                          <label for="adminNo">No</label>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix">account_box</i>
                        <input  ng-model="newDoctor.username" id="username" type="text" class="validate" required />
                        <label for="username">Username</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input ng-model="newDoctor.password" id="password" type="password" class="validate" required >
                        <label for="password">Password</label>
                      </div>
                    </div>
                    <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
                    <div data-ng-show="progress.active()">Sending…</div>
                    <div class="row">
                      <div class="input-field col s6">
                        <button data-ng-disabled="progress.active()" ng-click="createDoctor(addDoctor)" class="modal-action btn waves-effect waves-light" type="submit" name="action">Submit</button>
                      </div>
                      <div class="input-field col s6">
                        <button class="modal-close btn waves-effect waves-light">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!--Edit Doctor Modal Structure-->
            <div id="editDoctorModal" class="modal">
              <div class="modal-content">
                <h4>Edit Doctor</h4>
                <div class="edit-doctor">
                  <form novalidate role="form" name="doctorEdit" class="ng-valid">
                    <div class="row">
                      <div class="input-field col s6">
                        <i class="material-icons prefix active">face</i>
                        <input  ng-model="editDoctor.firstname"  ng-value="preDoctor.firstname" id="firstName" type="text" class="validate ng-valid ng-touched valid ng-not-empty ng-valid-parse ng-valid-required" required />
                        <label for="firstName" class="active">First Name</label>
                      </div>
                      <div class="input-field col s6">
                        <i class="material-icons prefix active">face</i>
                        <input  ng-model="editDoctor.lastname"  ng-value="preDoctor.lastname" id="lastName" type="text" class="validate ng-valid valid ng-touched ng-not-empty ng-valid-parse ng-valid-required" required />
                        <label for="lastName" class="active ">Last Name</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix active">mail_outline</i>
                        <input  ng-model="editDoctor.email"  ng-value="preDoctor.email" id="email" type="email" class="validate ng-valid ng-touched valid ng-not-empty ng-valid-parse ng-valid-required" required />
                        <label for="email" class="active ">Email</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix active">phone</i>
                        <input  ng-model="editDoctor.phone"  ng-value="preDoctor.phone" id="phone" type="tel" class="validate ng-valid ng-touched valid ng-not-empty ng-valid-parse ng-valid-required" required />
                        <label for="phone" class="active">Phone Number</label>
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="input-field col s12"> -->
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <div class="col s4">
                          <label>Administrator:</label>
                        </div>
                        <div class="col s4 switch">
                          <label>
                            No
                            <input ng-model="editDoctor.adminflag" ng-value="preDoctor.adminflag" type="checkbox" class="validate ng-valid ng-touched valid ng-not-empty ng-valid-parse ng-valid-required" required>
                            <span class="lever"></span>
                            Yes
                          </label>
                          <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
                        <i class="material-icons prefix active">account_box</i>
                        <input  ng-model="editDoctor.username" ng-value="preDoctor.username" id="username" type="text" class="validate ng-valid valid ng-touched ng-not-empty ng-valid-parse ng-valid-required" required />
                        <label for="username" class="active ">Username</label>
                      </div>
                    </div>
                    <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
                    <div data-ng-show="progress.active()">Sending…</div>
                    <div class="row">
                      <div class="input-field col s6">
                        <button data-ng-disabled="progress.active()" ng-click="edit('manageDoctors', doctorEdit, preDoctor
                        .id)" class="modal-action btn waves-effect waves-light" type="submit" name="action">Submit</button>
                      </div>
                      <div class="input-field col s6">
                        <button class="modal-close btn waves-effect waves-light">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!--Delete Doctor Modal Structure-->
            <div id="deleteDoctorModal" class="modal">
              <div class="modal-content">
                <h4>Delete Doctor</h4>
                <div class="create-doctor">
                  <p>Are you sure you would like to delete {{preDoctor.firstname}}  {{preDoctor.lastname}}?  Once you do, it cannot be undone.</p>
                </div>
              </div>
              <div class="modal-footer">
                <button ng-click="delete('manageDoctors', preDoctor.id)" class="modal-action modal-close waves-effect btn-flat">Yes</button>
                <button class="modal-action modal-close waves-effect btn-flat">No</button>


              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </main>
