<!-- <!DOCTYPE html>
<html lang="en" ng-app="labResults">
<head>
  <meta charset="UTF-8">
  <title>Lab Results Application</title>

  <link href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="assets/styles/main.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="assets/styles/sass/componenets/icons/flaticon.css"> -->
  <!-- <script src="vendor/angular/angular.min.js" type="text/javascript"></script>
  <script src="vendor/angular-route/angular-route.min.js"></script>
  <script src="vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="assets/scripts/client.min.js" type="text/javascript"></script>
  <script src="assets/scripts/js/bin/materialize.min.js" type="text/javascript"></script>

  <base href="/">
</head> -->

<!-- <h1>Patient Dashboard</h1> -->

<!-- <body ng-controller="patientDashboardController">  -->
  <header>
    <nav class="top-nav">
      <div class="container">
        <div class="nav-wrapper">
          <a class="left page-title">Welcome, {{currentUser.firstname}} {{currentUser.lastname}}!</a>
          <ul class="right hide-on-med-and-down">
            <li><a ng-click="logout()" class="waves-effect waves-light btn">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0px);">
      <li class="dashboard-title">Dashboard</li>
      <li class="bold" ng-click="goTo('myFoods')" ><a class="waves-effect waves-dark">My Foods</a></li>
      <li class="bold" ng-click="goTo('diary')" ><a class="waves-effect waves-dark">Diary</a></li>
      <li class="bold" ng-click="goTo('library')" ><a class="waves-effect waves-dark">Library</a></li>
      <li class="bold" ng-click="goTo('myDoctor')" ><a class="waves-effect waves-dark">My Doctor</a></li>
    </ul>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col s12 m9 l10">
          <div id="myFoods" class="section scrollspy">
            <h4>My Foods</h4>

          </div>

          <div id="diary" class="section scrollspy">
            <h4>Diary</h4>

          </div>

          <div id="library" class="section scrollspy">
            <h4>Library</h4>

          </div>

          <div id="myDoctor" class="section scrollspy">
            <h4>My Doctor</h4>

          </div>

        </div>
      </div>
    </div>
  </main>


  <!-- <div ng-if="userLoggedIn.loggedIn" ng-include src="'views/header.html'"></div>


  </div>


</body>
</html> -->
