<!DOCTYPE html>
  <header>
    <nav class="top-nav">
      <div class="container">
        <div class="nav-wrapper">
          <a class="left page-title">Welcome, {{currentUser.firstname}} {{currentUser.lastname}}!</a>
          <ul class="right hide-on-med-and-down">
            <li><a ng-click="logout()" class="waves-effect waves-dark">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0px);">
      <li class="dashboard-title"><img src="assets/images/TheGuys.jpg" height="120px" style="border: 2px solid black"/></li>
      <li class="bold" ng-click="goTo('myFoods')" ><a class="waves-effect waves-dark">My Foods</a></li>
      <li class="bold" ng-click="goTo('diary')" ><a class="waves-effect waves-dark">Diary</a></li>
      <li class="bold" ng-click="goTo('library')" ><a class="waves-effect waves-dark">Library</a></li>
      <li class="bold" ng-click="goTo('myDoctor')" ><a class="waves-effect waves-dark">My Doctor</a></li>
    </ul>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col s12 m9 l10">
          <div id="myFoods" class="section scrollspy">
            <h4>My Foods</h4>

          </div>

          <div id="diary" class="section scrollspy">
            <h4>Diary</h4>

          </div>

          <div id="library" class="section scrollspy">
            <h4>Library</h4>

          </div>

          <div id="myDoctor" class="section scrollspy">
            <h4>My Doctor</h4>
            <p class="col s12"><b>{{myDoctor.firstname}} {{myDoctor.lastname}}</b></p>
            <p class="col s6"><b>Phone: </b>{{myDoctor.phone}}</p>
            <p class="col s6"><b>Email: </b>{{myDoctor.email}}</p>
          </div>

        </div>
      </div>
    </div>
  </main>
