<!DOCTYPE html>

  <div class="section">
    <div class="container">
      <h2 class="header">{{title}}</h2>
      <div class="row">
        <form class="col s12 m8 l6">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">face</i>
              <input  ng-model="user.firstName" id="firstName" type="text" class="validate" />
              <label for="firstName">First Name</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">face</i>
              <input  ng-model="user.lastName" id="lastName" type="text" class="validate" />
              <label for="lastName">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
              <i class="material-icons prefix">mail_outline</i>
              <input  ng-model="user.email" id="email" type="email" class="validate" />
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
              <i class="material-icons prefix">phone</i>
              <input  ng-model="user.phone" id="phone" type="tel" class="validate" />
              <label for="phone">Phone Number</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
              <i class="material-icons prefix">date_range</i>
              <input input-date ng-model="user.birthdate" id="birthdate" type="date" class="datepicker" />
              <label for="birthdate">Birthdate</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
              <p class="col s4">
                <input class="with-gap" ng-model="user.gender" value="female" name="sex" type="radio" id="female"  />
                <label for="female">Female</label>
              </p>
              <p class="col s4">
                <input class="with-gap" ng-model="user.gender" value="male" name="sex" type="radio" id="male"  />
                <label for="male">Male</label>
              </p>
              <p class="col s4">
                <input class="with-gap" ng-model="user.gender" value="other" name="sex" type="radio" id="other"  />
                <label for="other">Other</label>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <!-- <i class="flaticon-abacus-hand-drawn-tool prefix"></i> -->
              <i class="material-icons prefix">account_box</i>
              <input  ng-model="user.username" id="username" type="text" class="validate" />
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">vpn_key</i>
              <input ng-model="user.password" id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <button ng-click="register()" class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
            </div>
            <div class="input-field col s6">
              <button ng-click="loginRedirect()" class="btn waves-effect waves-light">Log In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
